body {
  margin-top: 20px;
  color: #444444;
  font-family: Century Gothic, sans-serif;
}

img#logo {
  display: block;
  margin: 10px auto;
}

h1 {
  line-height: 1.4em;
}

h2 {
  font-size: 1.6em;
  line-height: 1.2em;
}

h2 > sub {
  color: #777777;
  font-size: 0.7em;
}

/* Content */

.tablesorter th {
  font-weight: bold;
}

.tablesorter tr.active, span.active {
  background-color: #DBFFDB !important;
}

cite {
  margin-top: -15px;
}
